#rowID{
background: #8ab595;
border-radius: 10px;
}

#rowMain{
background: #eee;
border-radius: 10px;
justify-content: center;
height: 20%;
}

#cardBody{
float: left;
}

#btncho{
padding-left:25%;
}

#cols{
margin: 2%;
}

#innerBox{
margin: 2%;
width: 100px;
height: 100px;

}


#MainBoxSocial{
margin-bottom: 20%;
}


