#rowID{
background: #8ab595;
border-radius: 10px;
}

#rowMain{
background: #eee;
border-radius: 10px;
justify-content: center;
height: 20%;
}

#cardBody{
float: left;
}

#btncho{
padding-left:25%;
}

#cols{
margin: 2%;
}

#innerBox{
margin: 2%;
width: 100px;
height: 100px;

}


#MainBoxSocial{
margin-bottom: 20%;
}


/*
.train_box {
    position: relative;
    width: 300px;
    height: 200px;
    border: solid;
    background: #fff;
    padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}

.arrival {
    position: relative;
    float:left;
    background: #8ab595;
    width: 100px;
    height: 70px;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.departure {
    position: relative;
    float:left;
    background: #8ab595;
    width: 100px;
        height: 70px;
        margin: 15px;
        align-items: center;
        justify-content: center;
}

.price {
    position: relative;
    float:left;
    background: #8ab595;
    width: 230px;
        height: 30px;
        margin-left: 15px;
        align-items: center;
        justify-content: center;
}

.btn {
    position: relative;
    float:left;

    background: #8ab595;
    width: 100px;
        height: 50px;
        margin-left: 75px;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
}

p{
color: white;
margin-left: 10px;
}

a{
left: auto;
top: 260px;
right: 25px;
width: 100px;
display: block;
}
*/